
/*
=====
DEPENDENCES
=====
*/

#shadow{
    background: radial-gradient(
      ellipse at left,
      rgba(108, 90, 143, 0.9) 100%,
      rgba(93, 101, 143, 0.9) 100%
    );
  box-shadow: 0px 13px 10px -15px #000000c0!important;

}
.saga{
  text-align: end;
}

.r-link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }
  
  .r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }
  
  .r-list{
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }
  
  
  /*
  =====
  CORE STYLES
  =====
  */
  
  .menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
  }
  
  .menu__link{
    display: var(--menuLinkDisplay, block);
  }
  
  /* 
  focus state 
  */
  
  .menu__link:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
  }
  
  /* 
  fading siblings
  */
  
  .menu:hover .menu__link:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
  }
  
  /*
  =====
  PRESENTATION STYLES
  =====
  */
  
  .menu{
    background-color: var(--menuBackgroundColor, #f0f0f0);
    box-shadow: 15px 3px 10px -4px rgba(0,0,0,0.57);
    }
  
  .menu__list{
    display: flex;  
  }
  
  .menu__link{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 500;
    text-transform: uppercase;
  }
  
  /* 
  =====
  TEXT UNDERLINED
  =====
  */
  
  .text-underlined{
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
  }
  
  .text-underlined::before, 
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
  }
  
  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .text-underlined::after{
    right: 50%;
    transform: translateX(50%); 
  }
  
  .text-underlined:hover::before, 
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
  
  /*
  =====
  SETTINGS
  =====
  */
  
  .page__custom-settings{
    --menuBackgroundColor: radial-gradient(
      ellipse at left bottom,
      rgba(22, 24, 47, 1) 0%,
      rgba(38, 20, 72, 0.9) 59%,
      rgba(17, 27, 75, 0.9) 100%
    );
    --menuLinkColor: #fff;
    --menuLinkColorUnactive: #fcfcfc;
    --menuLinkOutlineOffset: -.5rem; 
  }
  
  /*
  =====
  DEMO
  =====
  */
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 80vh;
    display: flex;  
    flex-direction: column;
  }
  
  .page{

    box-sizing:content-box;
    max-width: 100%;
    margin: auto;
  }
  
  .page__menu:nth-child(n+2){
    margin-top: 3rem;
  }
  
  
  .substack{
    border:1px solid #EEE; 
    background-color: #fff;
    width: 100%;
    max-width: 480px;
    height: 100px;
    margin: 1rem auto;;
  }
  
  .linktr{
    display: flex;
    justify-content: center;
    background-color: rgb(209, 246, 255);
    padding: 2rem;
    text-align: center;
  }
  
  .linktr__goal{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(8, 49, 112);
    box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
    border-radius: 2rem;
    padding: .5rem 1.25rem;
  }
  
  .r-link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }
  menu{
    flex: 1 1 1 auto;
  }