
.sidebar{
     display:inline-block;
     background-color:  #8a87a7;
     width:200px;
     height:800px;
    box-shadow: (0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;

}
.a-link{
    color:rgb(255, 255, 255)!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
font-weight: 500;
}